:root {
  --backg1: #FFFFFF;
  --backg2: #303030;
  --active_backg: #FF6C00;
  --htro-backg: rgba(25, 28, 38, 0.2);
  --prices-backg: #111319;
  --footer-backg: #191C26;

  --color-text: #303030;
  --color-textdark: #FFFFFF;;
  --color-active: #FF6C00;
  --color-text2: #555555;
  --color-textbtn: #FFFFFF;
 
}

$mobile: 480px;
$tablet: 768px;
$decktop: 1200px;